includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    
    level: 0
    reportUnmatchedIgnoredErrors: false
    
    # Don't exclude anything for now
    excludePaths: []
    
    # Bootstrap file
    bootstrapFiles:
        - bootstrap/app.php